{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}



{% block content %}

<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>

    {% if object %}

        <h2>Edit {{ object.title }}</h2>

    {% else %}

        <h2>Create New Article</h2><hr>

    {% endif %}
    
    <form action = "" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
        <input class='btn btn-success' type='submit' value='Submit'></input>
    </form>
    </div>
</div>

{% endblock %}